<h1>Estos son tus proyectos</h1>
<ul>
  <% @projects.each do |project| %>
    <li>
      <%= link_to(project.name, project_entries_path(project.id)) %>
      <% if project.description.present? %>
        <%= " - #{project.description}" %>
      <% end %>
    </li>
  <% end %>
</ul>